<div class="main">

  <div style="text-align:center">
    <button class="back-button" (click)="clickedBackToUploads()" *ngIf="showTable && !routeDetail">
      Back to Uploads
    </button>
    <button class="back-button" (click)="clickedBackToTable()" *ngIf="showTable && routeDetail">
      Back to Table
    </button>
    <h1>
      GM Capstone
    </h1>
    <button class="sort-button" (click)="sortByDifference()" *ngIf="showTable && !sorted && !routeDetail">
      Sort By Difference
    </button>
    <button class="sort-button" (click)="unSortByDifference()" *ngIf="showTable && sorted && !routeDetail">
      UnSort
    </button>
  </div>







  <div style="text-align:center" *ngIf="!showTable && !loadingFlag">
    <img class="gm-logo" width="300" alt="GM Logo" src="assets/gmlogo.png">

    <br />
    <br />
    DOE FuelRate: $<input type="number" id="fuelrate" class="fuel_input"/>/gal
    <br />


    <div class="grid-container">
      <div class="grid-item">
        Upload Parts CSV File Here
        <br />
        <input id="partsFile" type="file" class="file_input"/>
      </div>
      <div class="grid-item">
        Upload Routes CSV File Here
        <br />
        <input id="routesFile" type="file" class="file_input"/>
      </div>
      <div class="grid-item">
        Upload Containers CSV File Here
        <br />
        <input id="containersFile" type="file" class="file_input"/>
      </div>
    </div>

    <br />
    <button class="ok-button" (click)="clickedOK()">
      <u>GO</u>
    </button>
    <br />
    <button class="ok-button" (click)="clickedOKNoUpload()">
      <u>GO (no upload)</u>
    </button>
    <!-- <br />
    <button class="ok-button" (click)="test()">
      test code
    </button> -->

  </div>



  <div *ngIf="loadingFlag">
    <img class="loading" src="assets/loading.gif"/>
  </div>



  <div *ngIf="showTable && !demo && !routeDetail">

    <p *ngIf="showSavings==0" (click)="changeShowSavings(1)">Cost savings: <span *ngIf="totals[0] > 0" style="color:green">{{totals[0] | currency}}</span><span *ngIf="totals[0] <= 0" style="color:red">{{totals[0] | currency}}</span></p>
    <p *ngIf="showSavings==1" (click)="changeShowSavings(2)">Cost savings (2nd best): <span *ngIf="totals[1] > 0" style="color:green">{{totals[1] | currency}}</span><span *ngIf="totals[1] <= 0" style="color:red">{{totals[1] | currency}}</span></p>
    <p *ngIf="showSavings==2" (click)="changeShowSavings(0)">Cost savings (3rd best): <span *ngIf="totals[2] > 0" style="color:green">{{totals[2] | currency}}</span><span *ngIf="totals[2] <= 0" style="color:red">{{totals[2] | currency}}</span></p>

    <table>
      <tr> <th class="zeroth">Ref #</th> <th class="zeroth">Route ID</th> <th class="zeroth">Origin ID</th> <th class="zeroth">Current Cost</th> <th class="zeroth">Current $ Frequency</th> <th class="firstth">Lowest Cost</th> <th class="firstth">Lowest $ Frequency</th> <th class="firstth">Cost Difference</th> <th class="secondth">2nd Lowest Cost</th>
        <th class="secondth">2nd Lowest $ Frequency</th> <th class="secondth">2nd Cost Difference</th> <th class="thirdth">3rd Lowest Cost</th> <th class="thirdth">3rd Lowest $ Frequency</th> <th class="thirdth">3rd Cost Difference</th></tr>

      <tr *ngFor="let row of outputMatrix, let i = index" (click)="showRouteDetails(i)">
        <td>{{i+1}}</td>
        <td>{{row[0]}}</td>
        <td>{{row[1]}}</td>
        <td>{{row[2] | currency:0}}</td>
        <td>{{row[3]}}</td>
        <td class="border-left">{{row[4] | currency}}</td>
        <td>{{row[5]}}</td>
        <td>
          <div *ngIf="row[4] < row[2]" style="color:green">
            {{row[6] | currency}}
          </div>
          <div *ngIf="row[4] > row[2]" style="color:red">
            {{row[6] | currency}}
          </div>
          <div *ngIf="row[4] == row[2]" style="color:grey">
            $0
          </div>
        </td>

        <td class="border-left">{{row[7] | currency}}</td>
        <td>{{row[8]}}</td>
        <td>
          <div *ngIf="row[7] < row[2]" style="color:green">
            {{row[9] | currency}}
          </div>
          <div *ngIf="row[7] > row[2]" style="color:red">
            {{row[9] | currency}}
          </div>
          <div *ngIf="row[7] == row[2]" style="color:grey">
            $0
          </div>
        </td>

        <td class="border-left">{{row[10] | currency}}</td>
        <td>{{row[11]}}</td>
        <td>
          <div *ngIf="row[10] < row[2]" style="color:green">
            {{row[12] | currency}}
          </div>
          <div *ngIf="row[10] > row[2]" style="color:red">
            {{row[12] | currency}}
          </div>
          <div *ngIf="row[10] == row[2]" style="color:grey">
            $0
          </div>
        </td>
      </tr>

    </table>
  </div>








  <div *ngIf="routeDetail">
    <div style="text-align:center">
      <h2><span style="color:grey">Route:</span> {{outputMatrix[routeIndex][0]}}<span style="color:grey">&nbsp;&nbsp;|&nbsp;&nbsp;Origin: </span> {{partDict[routeIDtoPartIDDict[outputMatrix[routeIndex][0]][1]][city]}}, {{partDict[routeIDtoPartIDDict[outputMatrix[routeIndex][0]][1]][state]}} ({{outputMatrix[routeIndex][1]}})</h2>

      <br />
      <!-- <h3>Frequency</h3> -->
      <h3><span style="color:grey">Frequency:</span><span class="freq-details"> Currently Used: (<span style="color:#073980">{{currentFreq}}</span>)   <span style="color:grey">|</span>   Best Possible: (<span style="color:#073980">{{bestFreq}}</span>)  <span style="color:grey">|</span>  Currently Selected (<span style="color:#073980">{{selectedFreq}}</span>), <span style="color:grey">Rank:</span> <span style="color:#073980">{{freqRank}}</span>/{{freqArrayLength}}</span></h3>
      <h6 class="sort-text" *ngIf="!freqSorted" (click)="sortFreqArray()"><u>Sort Numerically</u></h6>
      <h6 class="sort-text" *ngIf="freqSorted" (click)="unSortFreqArray()"><u>Sort By Cost Savings</u></h6>
      <div class="freq-numbers">
        <p>
          <span *ngFor="let freq of freqArray, let i = index" (click)="clickedFreq(freq, i)"><span *ngIf="isNaN(freq)">&nbsp;&nbsp;<span *ngIf="freq!=selectedFreq">{{freq}}</span><span class="selected-freq" *ngIf="freq==selectedFreq"><b>{{freq}}</b></span>&nbsp;&nbsp;</span></span>
        </p>
      </div>

    </div>

    <br />
    <table>
      <th class="zeroth"> </th><th class="zeroth">Current ({{currentFreq}})</th><th class="firstth">Selected ({{selectedFreq}})</th><th class="secondth">Difference</th>
      <tr>
        <td>Freight Cost</td>
        <td><span *ngIf="routeFreightCostDict[currentFreq]">{{routeFreightCostDict[currentFreq] | currency}}</span><span *ngIf="!routeFreightCostDict[currentFreq]">N/A</span>
        </td>
        <td><span *ngIf="routeFreightCostDict[selectedFreq]"><b>{{routeFreightCostDict[selectedFreq] | currency}}</b></span><span *ngIf="!routeFreightCostDict[selectedFreq]"><b>N/A</b></span>
        </td>
        <td>
          <div *ngIf="routeFreightCostDict[selectedFreq]">
            <div *ngIf="routeFreightCostDict[currentFreq] - routeFreightCostDict[selectedFreq] > 0"  style="color:green">
              <b>{{routeFreightCostDict[currentFreq] - routeFreightCostDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeFreightCostDict[currentFreq] - routeFreightCostDict[selectedFreq] < 0"  style="color:red">
              <b>{{routeFreightCostDict[currentFreq] - routeFreightCostDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeFreightCostDict[currentFreq] - routeFreightCostDict[selectedFreq] == 0"  style="color:grey">
              <b>{{routeFreightCostDict[currentFreq] - routeFreightCostDict[selectedFreq] | currency}}</b>
            </div>
          </div>
          <div *ngIf="!routeFreightCostDict[selectedFreq]" style="color:grey">
            <b>N/A</b>
          </div>
        </td>
      </tr>

      <tr>
        <td>Floor Space Cost</td>
        <td><span *ngIf="routeFloorSpaceDict[currentFreq]">{{routeFloorSpaceDict[currentFreq] | currency}}</span><span *ngIf="!routeFloorSpaceDict[currentFreq]">N/A</span>
        </td>
        <td><span *ngIf="routeFloorSpaceDict[selectedFreq]"><b>{{routeFloorSpaceDict[selectedFreq] | currency}}</b></span><span *ngIf="!routeFloorSpaceDict[selectedFreq]"><b>N/A</b></span>
        </td>
        <td>
          <div *ngIf="routeFloorSpaceDict[selectedFreq]">
            <div *ngIf="routeFloorSpaceDict[currentFreq] - routeFloorSpaceDict[selectedFreq] > 0"  style="color:green">
              <b>{{routeFloorSpaceDict[currentFreq] - routeFloorSpaceDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeFloorSpaceDict[currentFreq] - routeFloorSpaceDict[selectedFreq] < 0"  style="color:red">
              <b>{{routeFloorSpaceDict[currentFreq] - routeFloorSpaceDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeFloorSpaceDict[currentFreq] - routeFloorSpaceDict[selectedFreq] == 0"  style="color:grey">
              <b>{{routeFloorSpaceDict[currentFreq] - routeFloorSpaceDict[selectedFreq] | currency}}</b>
            </div>
          </div>
          <div *ngIf="!routeFloorSpaceDict[selectedFreq]" style="color:grey">
            <b>N/A</b>
          </div>
        </td>
      </tr>

      <tr>
        <td>Inventory Holding Cost</td>
        <td><span *ngIf="routeInvHoldingDict[currentFreq]">{{routeInvHoldingDict[currentFreq] | currency}}</span><span *ngIf="!routeInvHoldingDict[currentFreq]">N/A</span>
        </td>
        <td><span *ngIf="routeInvHoldingDict[selectedFreq]"><b>{{routeInvHoldingDict[selectedFreq] | currency}}</b></span><span *ngIf="!routeInvHoldingDict[selectedFreq]"><b>N/A</b></span>
        </td>
        <td>
          <div *ngIf="routeInvHoldingDict[selectedFreq]">
            <div *ngIf="routeInvHoldingDict[currentFreq] - routeInvHoldingDict[selectedFreq] > 0"  style="color:green">
              <b>{{routeInvHoldingDict[currentFreq] - routeInvHoldingDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeInvHoldingDict[currentFreq] - routeInvHoldingDict[selectedFreq] < 0"  style="color:red">
              <b>{{routeInvHoldingDict[currentFreq] - routeInvHoldingDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeInvHoldingDict[currentFreq] - routeInvHoldingDict[selectedFreq] == 0"  style="color:grey">
              <b>{{routeInvHoldingDict[currentFreq] - routeInvHoldingDict[selectedFreq] | currency}}</b>
            </div>
          </div>
          <div *ngIf="!routeInvHoldingDict[selectedFreq]" style="color:grey">
            <b>N/A</b>
          </div>
        </td>
      </tr>

      <tr>
        <td>Container Capital</td>
        <td><span *ngIf="routeContCapitalDict[currentFreq]">{{routeContCapitalDict[currentFreq] | currency}}</span><span *ngIf="!routeContCapitalDict[currentFreq]">N/A</span>
        </td>
        <td><span *ngIf="routeContCapitalDict[selectedFreq]"><b>{{routeContCapitalDict[selectedFreq] | currency}}</b></span><span *ngIf="!routeContCapitalDict[selectedFreq]"><b>N/A</b></span>
        </td>
        <td>
          <div *ngIf="routeContCapitalDict[selectedFreq]">
            <div *ngIf="routeContCapitalDict[currentFreq] - routeContCapitalDict[selectedFreq] > 0"  style="color:green">
              <b>{{routeContCapitalDict[currentFreq] - routeContCapitalDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeContCapitalDict[currentFreq] - routeContCapitalDict[selectedFreq] < 0"  style="color:red">
              <b>{{routeContCapitalDict[currentFreq] - routeContCapitalDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="routeContCapitalDict[currentFreq] - routeContCapitalDict[selectedFreq] == 0"  style="color:grey">
              <b>{{routeContCapitalDict[currentFreq] - routeContCapitalDict[selectedFreq] | currency}}</b>
            </div>
          </div>
          <div *ngIf="!routeContCapitalDict[selectedFreq]" style="color:grey">
            <b>N/A</b>
          </div>
        </td>
      </tr>

      <tr>
        <td><b>Totals</b></td>
        <td><span *ngIf="totalsDict[currentFreq]">{{totalsDict[currentFreq] | currency}}</span><span *ngIf="!totalsDict[currentFreq]">N/A</span>
        </td>
        <td><span *ngIf="totalsDict[selectedFreq]"><b>{{totalsDict[selectedFreq] | currency}}</b></span><span *ngIf="!totalsDict[selectedFreq]"><b>N/A</b></span>
        </td>
        <td>
          <div *ngIf="totalsDict[selectedFreq]">
            <div *ngIf="totalsDict[currentFreq] - totalsDict[selectedFreq] > 0"  style="color:green">
              <b>{{totalsDict[currentFreq] - totalsDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="totalsDict[currentFreq] - totalsDict[selectedFreq] < 0"  style="color:red">
              <b>{{totalsDict[currentFreq] - totalsDict[selectedFreq] | currency}}</b>
            </div>
            <div *ngIf="totalsDict[currentFreq] - totalsDict[selectedFreq] == 0"  style="color:grey">
              <b>{{totalsDict[currentFreq] - totalsDict[selectedFreq] | currency}}</b>
            </div>
          </div>
          <div *ngIf="!totalsDict[selectedFreq]" style="color:grey">
            <b>N/A</b>
          </div>
        </td>
      </tr>


    </table>
  </div>




</div>
