<div class="main">

  <div style="text-align:center">
    <button class="back-button" (click)="clickedBack()" *ngIf="showTable">
      Back to Uploads
    </button>
    <h1>
      GM Capstone
    </h1>
  </div>







  <div style="text-align:center" *ngIf="!showTable && !loadingFlag">
    <!-- <img class="gm-logo" width="300" alt="GM Logo" src="{{gmLogo}}"> -->
    <img class="gm-logo" width="300" alt="GM Logo" src="assets/gmlogo.png">

    <br />
    <div class="grid-container">
      <div class="grid-item">
        Upload Parts CSV File Here
        <br />
        <input id="partsFile" type="file" />
        <!-- <file-drop headertext="Drop Parts Here" (onFileDrop)="dropped($event)"
        (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
        </file-drop> -->
      </div>
      <div class="grid-item">
        Upload Routes CSV File Here
        <br />
        <input id="routesFile" type="file" />
      </div>
      <div class="grid-item">
        Upload Containers CSV File Here
        <br />
        <input id="containersFile" type="file" />
      </div>
    </div>

    <br />
    <button class="ok-button" (click)="clickedOK()">
      <u>GO</u>
    </button>
    <br />
    <button class="ok-button" (click)="clickedOKNoUpload()">
      <u>GO (no upload)</u>
    </button>
    <!-- <br />
    <button class="ok-button" (click)="clickedDemo()">
      Demo Table...
    </button>
    <br />
    <button class="ok-button" (click)="test()">
      test code
    </button> -->

  </div>



  <div *ngIf="loadingFlag">
    <!-- <mat-spinner mode="indeterminate"></mat-spinner> -->
    <img class="loading" src="assets/loading.gif"/>
  </div>



  <div *ngIf="showTable && !demo">

    <table>
      <tr> <th>Route ID</th> <th>Current Cost</th> <th>Current $ Frequency</th> <th>Lowest Cost</th> <th>Lowest $ Frequency</th> <th>Cost Difference</th> </tr>

      <tr *ngFor="let row of outputMatrix">
        <td>{{row[0]}}</td>
        <td>{{row[1] | currency:0}}</td>
        <td>{{row[2]}}</td>
        <td>{{row[3] | currency}}</td>
        <td>{{row[4]}}</td>
        <td>
          <div *ngIf="row[3] < row[1]" style="color:green">
            {{row[5] | currency}}
          </div>
          <div *ngIf="row[3] > row[1]" style="color:red">
            {{row[5] | currency}}
          </div>
          <div *ngIf="row[3] == row[1]" style="color:grey">
            $0
          </div>
        </td>
      </tr>

    </table>
  </div>






  <div *ngIf="showTable && demo">
    <table>
      <tr> <th>Supplier</th> <th>Best Frequency</th> <th>Best Cost</th> <th>Originial Frequency</th> <th>Original Cost</th> <th> Cost Difference</th> </tr>

      <tr><td>detroit</td><td>2456.3</td><td>4324</td><td>8494</td></tr>

      <tr><td>ypsi</td><td>1234.23</td><td>5356.34</td><td>7549.98</td></tr>

      <tr><td>ann arbor</td><td>4237.5</td><td>8599.2</td><td>5574.3</td></tr>
    </table>

  </div>


</div>
