.main{
  /* background-color: #202020; */
  font-family: "Verdana", sans-serif;
  width: 100%;
  height: 100%;
}



table{
  border-collapse: collapse;
  width: 100%;
}


table, th, tr, td{
  /* color: whitesmoke; */
  /* border: solid grey 2px; */
  padding: 8px;
  margin: 0 !important;
}

th, td {
    border: 1px solid #ddd;
}

h1 {
  color: #073980;
}

th {
    background-color: #073980;
    color: white;
}

input{
  padding-top: 30px;
}

tr:hover {background-color: gainsboro;}

.ok-button {
  background-color: #073980;
  margin-top: 30px;
  padding: 20px 40px;
  border-radius: 10px;
  color: white;
}
.back-button {
  position: absolute;
  background-color: #073980;
  border-radius: 10px;
  color: white;
  top: 10px;
  left: 10px;
  padding: 20px 40px;
}
.sort-button {
  position: absolute;
  background-color: #073980;
  border-radius: 10px;
  color: white;
  top: 10px;
  right: 10px;
  padding: 20px 40px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  margin-top: 40px;

}

.grid-item{
  background-color: #e7f0fe;
  padding-top: 20px;
  padding-bottom: 60px;
  border-radius: 10px;
  border: solid 3px #073980;
  color: #073980;
}

.gm-logo {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: solid 3px silver;
}

.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
  padding-top: 12%;
}
